[Desktop Entry]
Exec=/home/Lunatic/Scripts/toggle_karousel_center.sh
Name=toggle_karousel_center
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
